.avatar-show-img {
   width: 128px;
   height: 128px;
}

.job-title-icon {
   display: inline-block;
   width: 30px;
   height: 30px;
   border: 2px solid #2e6da4;
   border-radius: 4px;
   background-color: #337ab7;
   color: white;
   text-align: center;
}

.well.profile-block {
   color: white;
   h3{
      margin-top: 0;
   }
}

.well.profile-description {
   background-color: #5cb85c;
   border-color: #4cae4c;
}

.well.profile-contact-info {
   background-color: #5bc0de;
   border-color: #46b8da;
}

.user-profile {
   margin-top: 90px;
}

// User Index Page Styles
.user-index-avatar {
   width: 128px;
   height: 128px;
   border-radius: 50%;
}

.well.white-bg {
   background-color: white;
}


.flickr_pagination {
   margin-top: 2.0em;
   margin-bottom: 2.0em;
   text-align: center;
   padding: 0.3em;
   cursor: default;
}
   
.flickr_pagination a, .flickr_pagination span, .flickr_pagination em {
   padding: 0.2em 0.5em;
}

.flickr_pagination .disabled {
   color: #aaaaaa;
}

.flickr_pagination .current {
   font-style: normal;
   font-weight: bold;
   color: #ff0084;
}

.flickr_pagination a {
   border: 1px solid #dddddd;
   color: #0063dc;
   text-decoration: none;
}

.flickr_pagination a:hover, .flickr_pagination a:focus {
   border-color: #003366;
   background: #337ab7;
   color: white;
}

.flickr_pagination .page_info {
   color: #aaaaaa;
   padding-top: 0.8em;
}

.flickr_pagination .previous_page, .flickr_pagination .next_page {
   border-width: 2px;
}

.flickr_pagination .previous_page {
   margin-right: 1em;
}

.flickr_pagination .next_page {
   margin-left: 1em;
}